@*ViewBag.data*@
@{
    Layout = "~/Views/Shared/_LayoutForUser.cshtml";
}
@section title
{
    <title>Việc làm đã lưu | TopCV.vn</title>


}
@section linkCss
{
    <link rel="stylesheet" href="../css/viecLamDaLuu.css">

}
@{
    List<FrontEnd.Models.SaveJobs> jobs = ViewBag.list;
}
@{
    DateTime utcNow = DateTime.UtcNow;
}

<div id="main">
    <div class="container" id="box-save-job">
        <div class="box-white">
            <div class="banner">
                <div class="content">
                    <h5 class="title">Việc đã lưu</h5>
                    <p class="description">
                        Xem lại danh sách những việc làm mà bạn đã lưu trước đó. Ứng tuyển ngay để không bỏ lỡ cơ hội
                        nghề nghiệp dành cho bạn.
                    </p>
                </div>
                <div class="image">
                    <img src="https://static.topcv.vn/v4/image/featured-job-list/arrow_desktop.png" alt="Việc làm từ xa (remote) background" title="Việc làm từ xa (remote) background" class="w-100">
                </div>
            </div>
            <!-- LIST TRỐNG -->
            <!-- LIST TRỐNG -->
            <!-- Kiểm tra nếu Model là null hoặc không có công việc nào -->
            @if (jobs == null)
            {
                <div class="empty">
                    <img src="https://static.topcv.vn/v4/image/empty.png" alt="Empty">
                    <p>Bạn chưa lưu công việc nào!</p>
                    <a href="@Url.Action("Index","Home")" class="btn-seatch-job btn-primary-hover">Tìm việc ngay</a>
                </div>
            }
            else
            {
                <!-- Nếu có công việc đã lưu, hiển thị danh sách -->
                <div class="box-job-total">Danh sách <b>@jobs.ToList().Count()</b> việc làm đã lưu</div>

                <div class="job-detail__related-jobs--content">
                    <!-- START CONTAINER-JOB-ITEM -->
                    @foreach (var job in jobs)
                    {
                        <div class="job-item d-flex g-15">
                            <div class="job-item__ava flex-1">
                                <img src="../img/@job.logoURl" alt="">
                            </div>
                            <div class="job-item__body">
                                <div class="job-item__body__content">
                                    <div class="title-block d-flex">
                                        <div class="title-left">
                                            <h6 class="font-weight-6 mb-1">@job.tieuDeTin</h6>
                                            <div class="company-name">@job.tenCongTy</div>
                                        </div>
                                        <div class="title-right text-green font-weight-6">@job.mucLuongTu - @job.mucLuongToi</div>
                                    </div>
                                    <div class="mb-2"> Đã lưu: @job.thoiGianLuuTin</div>
                                    <div class="info d-flex justify-content-between">
                                        <div class="lable-content d-flex g-15">
                                            <div class="lable-content-item">@job.diaDiemLamViec</div>
                                            <div class="lable-content-item">Còn <b>@(Math.Max(0, job.hanNopHoSo.Subtract(DateTime.UtcNow).Days))</b> ngày để ứng tuyển</div>
                                        </div>
                                        <div class="icon">
                                            <a class="job-detail__information-detail--actions-button btn-apply-job" href="@Url.Action("Index", "ChiTietViecLam", new { idChiTietTuyenDung = job.idChiTietTuyenDung})">Ứng tuyển</a>
                                            <a href="@Url.Action("BoLuu", "CongViecDaLuu", new { idLuuTin = job.idLuuTin})" class="btn-unsave job-detail__information-detail--actions-button">
                                                <i class="fa-solid fa-trash me-2"></i>Bỏ lưu
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- END CONTAINER-JOB-ITEM -->
                </div>
            }
            <!-- END CONTAINER-JOB-ITEM -->
        </div>

    </div>
</div>
</div>