<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="https://static.topcv.vn/v4/image/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="./css/viecLam.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/dangKyTK.css">

    <title>Chào mừng bạn đến với Top CV | Topcv.vn</title>
</head>
<body>

    <script src="https://esgoo.net/scripts/jquery.js"></script>
    <script>
        $(document).ready(function () {
            //Lấy tỉnh thành
            $.getJSON('https://esgoo.net/api-tinhthanh/1/0.htm', function (data_tinh) {
                if (data_tinh.error == 0) {
                    $.each(data_tinh.data, function (key_tinh, val_tinh) {
                        $("#tinh").append('<option value="' + val_tinh.id + '">' + val_tinh.full_name + '</option>');
                    });
                    $("#tinh").change(function (e) {
                        var idtinh = $(this).val();
                        //Lấy quận huyện
                        $.getJSON('https://esgoo.net/api-tinhthanh/2/' + idtinh + '.htm', function (data_quan) {
                            if (data_quan.error == 0) {
                                $("#quan").html('<option value="0">Quận Huyện</option>');
                                $("#phuong").html('<option value="0">Phường Xã</option>');
                                $.each(data_quan.data, function (key_quan, val_quan) {
                                    $("#quan").append('<option value="' + val_quan.id + '">' + val_quan.full_name + '</option>');
                                });
                                //Lấy phường xã
                                $("#quan").change(function (e) {
                                    var idquan = $(this).val();
                                    $.getJSON('https://esgoo.net/api-tinhthanh/3/' + idquan + '.htm', function (data_phuong) {
                                        if (data_phuong.error == 0) {
                                            $("#phuong").html('<option value="0">Phường Xã</option>');
                                            $.each(data_phuong.data, function (key_phuong, val_phuong) {
                                                $("#phuong").append('<option value="' + val_phuong.id + '">' + val_phuong.full_name + '</option>');
                                            });
                                        }
                                    });
                                });

                            }
                        });
                    });

                }
            });
        });
    </script>

    <div>@TempData["errorDKi"]</div>
    <div>@TempData["idCTY"]</div>

    <div>
        <!-- Tab items -->
        <div class="tabs">
            <div class="tab-item active">
                Nhà tuyển dụng
            </div>
            <div class="tab-item">
                Ứng viên
            </div>
            <div class="line"></div>
        </div>

        <!-- Tab content -->
        <div class="tab-content">

            <!-- Nhà tuyển dụng -->
            <div class="tab-pane  active">
                <div class="d-flex main">
                    <form class="content-container page-content rounded max-width mt-4" action="@Url.Action("dangKyNhaTuyenDung", "DangKyTaiKhoan")">
                        <div class="header policy-box register-form sticky">
                            <img alt="notification icon" src="./assets/img/image.png" class="topcv-logo">
                            <h2 class="text-green mb-2 header-title">Đăng ký tài khoản Nhà tuyển dụng</h2>
                        </div>
                        <div class="bg-white register-form">
                            <div class="d-flex">
                                <span class="text-title">Tài khoản</span>
                            </div>

                            <div class="info-account">
                                <div class="col-form-input mt-2">
                                    <label for="email" class="col-form-label-custom text-dark font-weight-600-700">
                                        Email đăng nhập
                                        <span class="text-red">*</span>
                                    </label>
                                    <div class="input-container ml-auto left-inner-addon">
                                        <i class="bi bi-envelope"></i>
                                        <input id="FuFSwikSnS" placeholder="Email" type="email" class="form-control" name="email" required>
                                    </div>
                                </div>
                                <div class="warning-email-text ">
                                    Trường hợp bạn đăng ký tài khoản bằng email không phải email tên miền công ty, một số dịch vụ trên
                                    tài khoản có thể sẽ bị giới hạn quyền mua hoặc sử dụng.
                                </div>
                            </div>

                            <div class="col-form-input">
                                <label for="password" class="col-form-label-custom text-dark font-weight-600">
                                    Mật khẩu
                                    <span class="text-red font-weight-normal">*</span>
                                </label>
                                <div class="input-container ml-auto left-inner-addon">
                                    <i class="bi bi-shield-lock-fill"></i>
                                    <input placeholder="Mật khẩu ( từ 6 đến 25 ký tự )" type="password" class="form-control" required name="matKhau" id="matKhauNTD">
                                </div>
                            </div>

                            <div class="col-form-input mt-2">
                                <label for="password_verify" class="col-form-label-custom text-dark font-weight-600">
                                    Nhập lại mật khẩu
                                    <span class="text-red font-weight-normal">*</span>
                                </label>
                                <div class="input-container ml-auto left-inner-addon">
                                    <i class="bi bi-shield-lock-fill"></i>
                                    <input placeholder="Nhập lại mật khẩu" type="password" class="form-control" required id="matKhauNhapLaiNTD" onkeyup="checkPasswordForNTD()">
                                </div>
                                <div id="errorPassNTD" class="error mt-2"></div>

                            </div>
                        </div>
                        <div class="mb-2 mt-2">
                            <div class="d-flex">
                                <span class="font-weight-700 text-info-employer text-title">Thông tin nhà tuyển dụng</span>
                            </div>
                            <div class="info-company">
                                <div class="row d-flex">
                                    <div class="col-form-input col-6 mt-2">
                                        <label for="fullname" class="col-form-label-custom text-dark font-weight-600">
                                            Họ và tên
                                            <span class="text-red font-weight-normal">*</span>
                                        </label>
                                        <div class="input-container ml-auto left-inner-addon">
                                            <i class="bi bi-person-fill"></i>
                                            <input placeholder="Họ và tên" type="text" class="form-control" required name="hoTen">
                                        </div>
                                    </div>
                                    <div class="col-form-input col-6 mt-2">
                                        <label class="col-form-label-custom text-dark font-weight-600">
                                            Giới tính:
                                            <span class="text-red font-weight-normal">*</span>
                                        </label>
                                        <div class="d-flex gender">
                                            <div>
                                                <input id="male" name="gioiTinh" type="radio" value="1" class="mr-2 a-input cursor-p" required>
                                                <label for="male"><span class="ml-2 mr-3">Nam</span> </label>
                                            </div>
                                            <div>
                                                <input id="female" name="gioiTinh" type="radio" value="0" class="mr-2 a-input cursor-p" required>
                                                <label for="female"><span data-v-7547eb66="" class="ml-2">Nữ</span> </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-form-input w-100 mt-2">
                                    <label for="phone" class="col-form-label-custom text-dark font-weight-600">
                                        Số điện thoại cá nhân
                                        <span class="text-red font-weight-normal">*</span>
                                    </label>
                                    <div class="mask-input left-inner-addon">
                                        <i class="bi bi-telephone-fill"></i>
                                        <input placeholder="Số điện thoại cá nhân" type="tel" class="form-control hidden-spin-button" required name="soDienThoai">
                                    </div>
                                </div>
                                <div class="col-form-input w-100 mt-2">
                                    <label for="company-name" class="col-form-label-custom text-dark font-weight-600">
                                        Công ty
                                        <span class="text-red font-weight-normal">*</span>
                                    </label>
                                    <div class="input-container ml-auto left-inner-addon">
                                        <i class="bi bi-building"></i>
                                        <input placeholder="Tên công ty" type="text" class="form-control" name="CongTy" required>
                                    </div>
                                </div>
                                <div class="col-form-input w-100 mt-2">
                                    <label for="company-name" class="col-form-label-custom text-dark font-weight-600">
                                        Địa điểm làm việc
                                        <span class="text-red font-weight-normal">*</span>
                                    </label>
                                    <div class="row company-location g-15">
                                        <div class="col-form-input col-6">
                                            <div class="custom-select-icon-position">
                                                <select class="form-select" aria-label="Default select example" required
                                                        id="tinh" name="tinh" title="Chọn Tỉnh Thành">

                                                    <option value="0">Tỉnh Thành</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-form-input col-6">
                                            <div class="custom-select-icon-position">
                                                <select class="form-select" aria-label="Default select example" required id="quan" name="quan" title="Chọn Quận Huyện">
                                                    <option value="0">Quận Huyện</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-form-input col-6">
                                            <div class="custom-select-icon-position">
                                                <select class="form-select" aria-label="Default select example" id="phuong" name="phuong" title="Chọn Phường Xã" required>
                                                    <option value="0">Phường Xã</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-center mb-0 action-container">
                            <button type="submit" class="btn-register w-100">Hoàn tất</button>
                        </div>
                        <div class="login-title d-flex justify-content-center py-3">
                            <div class="py-2">
                                <span class="text-muted mr-2">Đã có tài khoản?</span>
                                <a href="@Url.Action("Index", "DangNhap") class="text-green">Đăng nhập ngay</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Ứng viên -->
            <div class="tab-pane">
                <div class="d-flex main w-100">
                    <form method="GET" class="content-container page-content rounded max-width mt-4" action="@Url.Action("DangKyUngVien", "DangKyTaiKhoan")">
                        <div class="header policy-box register-form sticky">
                            <h2 class="text-green mb-2 header-title">Chào mừng bạn đến với TopCV</h2>
                            <span>Cùng xây dựng một hồ sơ nổi bật và nhận được các cơ hội sự nghiệp lý tưởng</span>
                        </div>
                        <div class="bg-white register-form mt-2">
                            <div class="col-form-input mt-2">
                                <label for="fullname" class="col-form-label-custom text-dark font-weight-600-700">
                                    Họ và tên
                                    <span class="text-red">*</span>
                                </label>
                                <div class="input-container ml-auto left-inner-addon">
                                    <i class="bi bi-person-fill"></i>
                                    <input id="FuFSwikSnS" placeholder="Nhập họ và tên" type="text" class="form-control" required name="hoVaTen">
                                </div>
                            </div>
                            <div class="col-form-input mt-2">
                                <label for="email" class="col-form-label-custom text-dark font-weight-600-700">
                                    Email                                <span class="text-red">*</span>
                                </label>
                                <div class="input-container ml-auto left-inner-addon">
                                    <i class="bi bi-envelope"></i>
                                    <input id="FuFSwikSnS" placeholder="Email" type="text" class="form-control" name="email" required>
                                </div>
                            </div>
                            <div class="col-form-input mt-2">
                                <label for="password" class="col-form-label-custom text-dark font-weight-600">
                                    Mật khẩu
                                    <span class="text-red font-weight-normal">*</span>
                                </label>
                                <div class="input-container ml-auto left-inner-addon">
                                    <i class="bi bi-shield-lock-fill"></i>
                                    <input placeholder="Mật khẩu ( từ 6 đến 25 ký tự )" type="password" class="form-control" name="password" required id="matKhauUV">
                                </div>
                            </div>

                            <div class="col-form-input mt-2">
                                <label for="password_verify" class="col-form-label-custom text-dark font-weight-600">
                                    Nhập lại mật khẩu
                                    <span class="text-red font-weight-normal">*</span>
                                </label>
                                <div class="input-container ml-auto left-inner-addon">
                                    <i class="bi bi-shield-lock-fill"></i>
                                    <input placeholder="Nhập lại mật khẩu" type="password" class="form-control" required id="matKhauNhapLaiUV" onkeyup="checkPasswordForUV()">
                                </div>
                                <div class="error mt-2" id="errorPassUV"></div>
                            </div>
                        </div>
                        <div class="text-center mb-0 action-container">
                            <button type="submit" class="btn-register w-100">Đăng ký</button>
                        </div>
                        <div class="login-title d-flex justify-content-center py-3">
                            <div class="py-2">
                                <span class="text-muted mr-2">Đã có tài khoản?</span>
                                <a href="@Url.Action("Index", "DangNhap") class="text-green">Đăng nhập ngay</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script src="./js/dangKyTK.js"></script>

</body>
</html>