﻿@{
    Layout = "~/Views/Shared/_LayoutForUser.cshtml";
}
@section title
{
    <title>Công cụ viết CV</title>



}

@section linkCss
{
    <link rel="stylesheet" href="~/css/quanLyCV.css">

}
@model List<FrontEnd.Controllers.HoSoCV>
<div id="main">
    <div class="container">
        <div id="manager-cv">
            <div class="banner-update-cv">
                <div class="block-left">
                    <p class="title">
                        Ứng viên được NTD chủ động tiếp cận
                        <span class="title-bold">tăng 26%</span> trong tuần vừa rồi
                    </p>
                    <p class="subtitle">Cập nhật CV để không bỏ lỡ cơ hội!</p>
                    <div class="list-action">
                        <a href="@Url.Action("Index", "MauCV")" class="btn btn-action btn-createcv">
                            <span>Tạo CV online</span>
                            <span><i class="fa-regular fa-plus"></i></span>
                        </a>
                        <a href="@Url.ActionLink("Index", "TaiCVLen")" class="btn btn-action btn-uploadcv">
                            <span>Tải CV lên</span>
                            <span><i class="fa-solid fa-arrow-up-from-bracket"></i></span>
                        </a>

                    </div>
                </div>
                <div class="block-right">
                    <div>
                        <img src="https://static.topcv.vn/v4/image/cv-manager/chart_banner_update_cv.png" alt="Banner Update CV">
                    </div>
                    <div class="block-percent">
                        <span class="block-percent-icon"><i class="fa-solid fa-arrow-trend-up"></i></span>
                        <span>26%</span>
                    </div>
                </div>
            </div>

            <div id="cv-list" class="box-block">
                <div class="box-header">
                    <h1 class="title">CV đã tạo trên top CV</h1>
                    <a href="@Url.Action("Index", "MauCV")" class="btn btn-add-cv btn-primary-hover">
                        <i class="fa-solid fa-plus"></i>Tạo mới
                    </a>
                </div>

                <div class="box-conten box-no-cv hidden">
                    <img src="https://static.topcv.vn/v4/image/cv-manager/no-cv.png" alt="">
                    <p>Bạn chưa tạo CV nào</p>
                </div>

                <div class="box-content">
                    <div class="row">
                        <!-- START -->
                        @foreach (var item in Model)
                        {
                            if (item.LoaiCV.Equals("Chính"))
                            {
                                <div class="col-md-4 col-12 pr-12">
                                    <div class="box-cv">
                                        <img src="~/img/default_cv.jpg" alt="" class="img-responsive entered error">
                                        <div class="box-bg">
                                            <div class="box-info">
                                                <h4 class="title-cv">
                                                    <a href="@item.FileURL" target="_blank">@item.TenCV</a>
                                                    <a href="" class="edit"><i class="fa-solid fa-pen"></i></a>
                                                </h4>
                                                <p class="update_at">Cập nhật lần cuối <span>@item.LanCapNhapCuoiCung</span></p>
                                                <ul class="action">
                                                    <li>
                                                        <a class="btn btn-sm bold tcv-tooltip">
                                                            <i class="fa-solid fa-turn-up"></i> Đẩy Top
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="" target="_blank" class="btn btn-sm bold">
                                                            <i class="fa-solid fa-share"></i> Chia sẻ
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="btn btn-sm bold btn-download-cv">
                                                            <i class="fa-solid fa-down-to-line"></i> Tải xuống
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a>
                                                            <i class="fa-solid fa-trash"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                        <!-- EMD -->

                    </div>
                </div>
            </div>

            <div id="cv-upload-list" class="box-block">
                <div class="box-header">
                    <h1 class="title">CV đã tải lên TopCV</h1>
                    <a href="@Url.ActionLink("Index", "TaiCVLen")" class="btn btn-upload-cv btn-primary-hover ">
                        <i class="fa-solid fa-upload"></i> Tải CV lên
                    </a>
                </div>
                <div class="box-conten box-no-cv hidden">
                    <img src="https://static.topcv.vn/v4/image/cv-manager/no-cv-upload.png" alt="">
                    <p>Bạn chưa tải CV nào lên</p>
                </div>
                <div class="box-content">
                    <div class="row">
                        <!-- START -->
                        @foreach (var item in Model)
                        {
                            if (item.LoaiCV.Equals("Phụ"))
                            {
                                <div class="col-md-4 col-12 pr-12">
                                    <div class="box-cv">
                                        <img src="~/img/default_cv.jpg" alt="" class="img-responsive entered error">
                                        <div class="box-bg">
                                            <div class="box-info">
                                                <h4 class="title-cv">
                                                    <a href="@item.FileURL" target="_blank">@item.TenCV</a>
                                                    <a href="" class="edit"><i class="fa-solid fa-pen"></i></a>
                                                </h4>
                                                <p class="update_at">Cập nhật lần cuối <span>@item.LanCapNhapCuoiCung</span></p>
                                                <ul class="action">
                                                    <li>
                                                        <a class="btn btn-sm bold tcv-tooltip">
                                                            <i class="fa-solid fa-turn-up"></i> Đẩy Top
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="" target="_blank" class="btn btn-sm bold">
                                                            <i class="fa-solid fa-share"></i> Chia sẻ
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="btn btn-sm bold btn-download-cv">
                                                            <i class="fa-solid fa-down-to-line"></i> Tải xuống
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a>
                                                            <i class="fa-solid fa-trash"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        <!-- EMD -->


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>