@{
    Layout = "~/Views/Shared/_LayoutForUser.cshtml";
}

@section title
{
    <title>CÔNG TY TNHH THƯƠNG MẠI ĐIỆN TỬ GOBUY VIỆT NAM</title>

}

@section linkCss
{
    <link rel="stylesheet" href="~/css/chiTietCongTy.css">

}

<div id="main">
    @model ChiTietCongTyViewModel
    <div id="breadcrumb" class="breadcrumb-detail-company">
        <div class="container">
            <ul class="nav d-flex">
                <li class="nav-item">
                    <a href="@Url.ActionLink("Index", "DanhSachCongTy")" class="text-highlight bold">Danh sách công ty > </a>
                </li>

                <li class="nav-item"> Thông tin công ty & tin tuyển dụng từ @Model.CongTy.TenCongTy</li>
            </ul>
        </div>
    </div>
    <div class="company-cover">
        <div class="container">
            <div class="company-cover-inner">
                <div class="cover-wrapper">
                    <img src="~/img/company_cover_1.webp" alt="" class="img-responsive cover-img">
                </div>
                <div class="company-logo">
                    <div class="company-image-logo">
                        <img src="~/img/@Model.CongTy.LogoUrl" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="company-detail-overview">
                    <div class="box-detail">
                        <h5 class="company-detail-name text-highlight">@Model.CongTy.TenCongTy</h5>
                        <div class="company-subdetail">
                            <div class="company-content__title--label"></div>
                            <div class="company-subdetail-info">
                                <span class="company-subdetail-info-icon">
                                    <i class="fa-solid fa-city"></i>
                                </span>
                                <span class="company-subdetail-info-text">25-99 nhân viên</span>
                            </div>
                            <div class="company-subdetail-info">
                                <span class="company-subdetail-info-icon">
                                    <i class="fa-solid fa-users"></i>
                                </span>
                                <span class="company-subdetail-info-text">@Model.CongTy.SoLuongNguoiTheoDoi người theo dõi</span>
                            </div>

                        </div>
                    </div>

                    @if (Model.IsFollow)
                    {
                        <form method="post" asp-action="UnfollowCompany">
                            <input type="hidden" name="ungVienId" value="1" />
                            <input type="hidden" name="congTyId" value="@Model.CongTy.IdCongTy" />
                            <button type="submit" class="btn btn-danger">Hủy theo dõi</button>
                        </form>
                    }
                    else
                    {
                        <form method="post" asp-action="FollowCompany">
                            <input type="hidden" name="ungVienId" value="1" />
                            <input type="hidden" name="congTyId" value="@Model.CongTy.IdCongTy" />
                            <button type="submit" class="btn btn-primary">Theo dõi</button>
                        </form>
                    }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div id="section-introduce">
                        <div class="company-info">
                            <div class="title">Giới thiệu công ty</div>
                            <div class="box-body">
                                <div class="company-info__content">
                                    <p>Thành lập vào năm 2024, hướng tới mục tiêu trở thành một trong những công ty Internet hàng đầu tại Việt Nam, với hai dự án Solaso và GoJob.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="job-listing box-white" id="box-job-listing">
                        <div class="job-listing__header">
                            <div class="title">Tuyển dụng</div>
                        </div>
                        <div class="box-body">
                            <div class="box-search">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.5 21.75C5.85 21.75 1.25 17.15 1.25 11.5C1.25 5.85 5.85 1.25 11.5 1.25C17.15 1.25 21.75 5.85 21.75 11.5C21.75 17.15 17.15 21.75 11.5 21.75ZM11.5 2.75C6.67 2.75 2.75 6.68 2.75 11.5C2.75 16.32 6.67 20.25 11.5 20.25C16.33 20.25 20.25 16.32 20.25 11.5C20.25 6.68 16.33 2.75 11.5 2.75Z" fill="#6F7882"></path>
                                            <path d="M22.0004 22.7504C21.8104 22.7504 21.6204 22.6804 21.4704 22.5304L19.4704 20.5304C19.1804 20.2404 19.1804 19.7604 19.4704 19.4704C19.7604 19.1804 20.2404 19.1804 20.5304 19.4704L22.5304 21.4704C22.8204 21.7604 22.8204 22.2404 22.5304 22.5304C22.3804 22.6804 22.1904 22.7504 22.0004 22.7504Z" fill="#6F7882"></path>
                                        </svg>
                                    </div>
                                    <input type="text" class="form-control" id="job-listing-name" placeholder="Tên công việc, vị trí ứng tuyển..." value="">
                                </div>
                                <div class="input-group" id="select-cities-container">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M11.9999 14.1704C9.86988 14.1704 8.12988 12.4404 8.12988 10.3004C8.12988 8.16043 9.86988 6.44043 11.9999 6.44043C14.1299 6.44043 15.8699 8.17043 15.8699 10.3104C15.8699 12.4504 14.1299 14.1704 11.9999 14.1704ZM11.9999 7.94043C10.6999 7.94043 9.62988 9.00043 9.62988 10.3104C9.62988 11.6204 10.6899 12.6804 11.9999 12.6804C13.3099 12.6804 14.3699 11.6204 14.3699 10.3104C14.3699 9.00043 13.2999 7.94043 11.9999 7.94043Z" fill="#6F7882"></path>
                                                <path d="M11.9997 22.76C10.5197 22.76 9.02969 22.2 7.86969 21.09C4.91969 18.25 1.65969 13.72 2.88969 8.33C3.99969 3.44 8.26969 1.25 11.9997 1.25C11.9997 1.25 11.9997 1.25 12.0097 1.25C15.7397 1.25 20.0097 3.44 21.1197 8.34C22.3397 13.73 19.0797 18.25 16.1297 21.09C14.9697 22.2 13.4797 22.76 11.9997 22.76ZM11.9997 2.75C9.08969 2.75 5.34969 4.3 4.35969 8.66C3.27969 13.37 6.23969 17.43 8.91969 20C10.6497 21.67 13.3597 21.67 15.0897 20C17.7597 17.43 20.7197 13.37 19.6597 8.66C18.6597 4.3 14.9097 2.75 11.9997 2.75Z" fill="#6F7882"></path>
                                            </svg>
                                        </span>
                                    </div>
                                    <select id="select-cities" class="form-control select2-hidden-accessible">
                                        <option value="0">Tất cả tỉnh/thành phố</option>
                                        @foreach(var it in Model.City)
                                        {
                                            <option value="@it.Id">@it.Name</option>
                                        }
                                    </select>

                                </div>
                                <a href="javascript:void(0)" class="btn btn-search btn-search-job-company">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                    <span>
                                        Tìm kiếm
                                    </span>
                                </a>
                            </div>
                            <div class="job-detail__related-jobs--content">
                                <!-- START CONTAINER-JOB-ITEM -->
                                
                                @foreach(var item in Model.ChiTietTuyenDungs)
                                {
                                    @if (item != null)
                                    {
                                        <div class="job-item d-flex g-15">
                                            <div class="job-item__ava flex-1">
                                                <img src="~/img/cong-ty-tnhh-streamcast-asia-viet-nam-62c4f53430d3a.webp" alt="">
                                            </div>
                                            <div class="job-item__body">
                                                <div class="job-item__body__content">
                                                    <div class="title-block d-flex">
                                                        <div class="title-left flex 2">
                                                            <h6 class="font-weight-6 mb-1 ">@item.TieuDeTin - Đi làm ngay</h6>
                                                            <div class="company-name">Công ty TNHH Dịch vụ thang máy unieco nhật bản</div>
                                                        </div>
                                                        <div class="title-right text-green font-weight-6 flex 1">@item.MucLuongTu - @item.MucLuongToi</div>
                                                    </div>
                                                    <div class="info d-flex justify-content-between">
                                                        <div class="lable-content d-flex g-15">
                                                            <div class="lable-content-item">@item.DiaDiemLamViecCuThe</div>
                                                            <div class="lable-content-item">Còn <b> 10 </b> ngày để ứng tuyển</div>
                                                            <div class="lable-content-item">Cập nhật 4 giờ trước</div>
                                                        </div>
                                                        <div class="icon">
                                                            <a class="job-detail__information-detail--actions-button btn-apply-job">Ứng tuyển</a>
                                                            <a href="" class="btn-save-job"><i class="bi bi-heart font-weight-6"></i></a>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                
                                               
                                <!-- END CONTAINER-JOB-ITEM -->
                                <!-- START CONTAINER-JOB-ITEM -->
                                
                                <!-- END CONTAINER-JOB-ITEM -->

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="section-contact">
                        <div class="title">Thông tin liên hệ</div>
                        <div class="box-body">
                            <div class="item">
                                <div class="box-caption">
                                    <i class="fa-solid fa-location-dot"></i>
                                    <span>Địa chỉ công ty</span>
                                </div>
                                <div class="desc">
                                    497 Nguyễn Kiệm, Phường 9, Quận Phú Nhuận, Thành phố Hồ Chí Minh
                                </div>
                            </div>
                            <div class="item last">
                                <div class="box-caption">
                                    <i class="fa-solid fa-map"></i>
                                    <span>Xem bản đồ</span>
                                </div>
                                <div class="desc">
                                    <iframe width="100%" height="297" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCVgO8KzHQ8iKcfqXgrMnUIGlD-piWiPpo&amp;q=497+Nguyen+Kiem,Phuong+9,Quan+Phu+Nhuan,Thanh+pho+Ho+Chi+Minh&amp;zoom=15&amp;language=vi" allowfullscreen="">
                                    </iframe>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="box-sharing box-white">
                        <div class="title">Chia sẻ công ty với bạn bè</div>
                        <div class="box-body">
                            <p>Sao chép đường dẫn</p>
                            <div class="box-copy">
                                <input readonly="" type="text" value="@Model.CongTy.WebsiteUrl" class="url-copy">
                                <div class="btn-copy">
                                    <button class="btn-copy-url"><i class="fa-regular fa-copy"></i></button>
                                </div>
                            </div>
                            <p>Chia sẻ qua mạng xã hội</p>
                            <div class="box-share">
                                <a href="http://www.facebook.com/sharer/sharer.php?u=http://www.topcv.vn/cong-ty/cong-ty-tnhh-thuong-mai-dien-tu-gobuy-viet-nam/188323.html" target="_blank"><img class="lazy entered loaded" data-src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/normal-company/share/facebook.png" alt="" data-ll-status="loaded" src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/normal-company/share/facebook.png"></a>
                                <a href="https://twitter.com/intent/tweet?url=http://www.topcv.vn/cong-ty/cong-ty-tnhh-thuong-mai-dien-tu-gobuy-viet-nam/188323.html" target="_blank"><img class="lazy entered loaded" data-src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/normal-company/share/twitter.png" alt="" data-ll-status="loaded" src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/normal-company/share/twitter.png"></a>
                                <a href="https://www.linkedin.com/cws/share?url=http://www.topcv.vn/cong-ty/cong-ty-tnhh-thuong-mai-dien-tu-gobuy-viet-nam/188323.html" target="_blank"><img class="lazy entered loaded" data-src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/normal-company/share/linked.png" alt="" data-ll-status="loaded" src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/normal-company/share/linked.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>