﻿@{
    Layout = "~/Views/Shared/_LayoutForUser.cshtml";
}
@section title
{
    <title>Việc làm IT</title>
}

@section linkCss
{
    <link rel="stylesheet" href="../css/viecLamIT.css">
}
@{
    var searchTerm = ViewBag.Search as string;
}

<div class="main">
    <div class="container">
        <div class="banner d-flex">
            <div class="content">
                <h3 class="title font-weight-6 ">Việc làm IT</h3>
                <p class="description">Việc làm IT xịn dành cho Developer chất</p>
                <div class="label-tag">
                    <label class="label-remote font-weight-6"><i class="fa-solid fa-circle-check me-1"></i>Backend</label>
                    <label class="label-remote font-weight-6"><i class="fa-solid fa-circle-check me-1"></i>Frontend</label>
                    <label class="label-remote font-weight-6"><i class="fa-solid fa-circle-check me-1"></i>Tester</label>
                    <label class="label-remote font-weight-6"><i class="fa-solid fa-circle-check me-1"></i> Business Analyst</label>

                </div>
            </div>
            <div class="img">
                <img src="../img/arrow_desktop.png" alt="">
            </div>
        </div>
        <div class="box-search">
            <form id="frm-search-job" method="GET" class="d-flex" action="@Url.Action("Index", "ViecLamIT")">
                <div class="form-group input-data border-hover">
                    <i class=" text-green fa-solid fa-magnifying-glass"></i>
                    <input type="text" id="keyword" name="search" value="@searchTerm" placeholder="Tên công việc, vị trí bạn muốn ứng tuyển...">
                </div>
                <div class="form-group border-hover category input-data">
                    <i class="text-green bi bi-building-fill"></i>
                    <select name="company-field" id="company-field-advanced">
                        <option value="">Tất cả lĩnh vực</option>
                        @if (ViewBag.nhomnghe != null)
                        {
                            foreach (var nghe in ViewBag.nhomnghe)
                            {
                                var linhvuc = nghe as Dictionary<string, object>;
                                <option value="@nghe["idNhomNghe"]">@nghe["tenNhomNghe"]</option>
                            }
                        }
                    </select>
                </div>


                <div class="form-group border-hover category input-data">
                    <i class="text-green bi bi-building-fill"></i>
                    <select name="company-field" id="company-field-advanced">
                        <option value="">Tất cả cấp bậc</option>
                        @if (ViewBag.nghe != null)
                        {
                            foreach (var nghe in ViewBag.nghe)
                            {
                                var capbac = nghe as Dictionary<string, object>;
                                <option value="@nghe["idNghe"]">@nghe["tenNghe"]</option>
                            }
                        }
                    </select>
                </div>

                <div class="form-group border-hover category input-data">
                    <i class="text-green fa-solid fa-money-bill"></i>
                    <select name="position" id="position">
                        <option value="">Tất cả mức lương</option>
                        <option value="1">Dưới 10 triệu</option>
                        <option value="2">10 triệu - 20 triệu</option>
                        <option value="3">20 triệu - 30 triệu</option>
                        <option value="4">Trên 30 triệu</option>
                    </select>
                </div>

                <div class="form-group ">
                    <button type="submit" class="btn btn-search-job d-flex g-10 align-items-center font-weight-6">
                        <i class=" fa-solid fa-magnifying-glass"></i> Tìm kiếm
                    </button>
                </div>
            </form>
        </div>
        <div class="job-detail__related-jobs--content">
            @if (ViewBag.Jobs != null)
            {
                var jobs = (List<Dictionary<string, object>>)ViewBag.Jobs; // Chuyển ViewBag.Jobs sang kiểu danh sách Dictionary
                foreach (var job in jobs)
                {
                    <div class="job-item d-flex g-15">
                        <div class="job-item__ava flex-1">
                            <img src="../img/@job["logoUrl"]" alt="Company Logo" style="max-width: 100%; height: auto;">
                        </div>
                        <div class="job-item__body">
                            <div class="job-item__body__content">
                                <div class="title-block d-flex">
                                    <div class="title-left flex-2">
                                        <h6 class="font-weight-6 mb-1">@job["tieuDeTin"]</h6>
                                        <div class="company-name">@job["tenCongTy"]</div>
                                    </div>
                                    <div class="title-right text-green font-weight-6 flex-1">@job["mucLuongTu"] - @job["mucLuongToi"] </div>
                                </div>
                                <div class="info d-flex justify-content-between">
                                    <div class="lable-content d-flex g-15">
                                        <div class="lable-content-item">@job["diaDiemLamViecCuThe"]</div>
                                        <div class="lable-content-item">Còn <b>@job["hanUngTuyen"]</b> ngày để ứng tuyển</div>
                                    </div>
                                    <div class="icon">
                                        <a class="job-detail__information-detail--actions-button btn-apply-job">Ứng tuyển</a>
                                        <a href="#" class="btn-save-job"><i class="bi bi-heart font-weight-6"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>Không có dữ liệu để hiển thị.</p>
            }
        </div>
    </div>

</div>
</div>